/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

/*
  Setting type with a 4:3 modular scale
  http://www.modularscale.com/?18&px&1.333
*/

html{
font-size: 1.125em; /* 18 / 16 = 1.125 */
line-height: 1.222em; /* 22 / 18 = 1.222*/
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
background-color: #B0BEC5;
color: #093755;
}

body {
  padding-top: 4.8889em; /* NOTE: 88px / 18 =  4.8889*/
  padding-right: 1.222em; /* 22 / 18 = 1.222*/
  padding-left: 1.222em; /* 22 / 18 = 1.222*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding-bottom: 1.222em; /* 22 / 18 = 1.2222222222222222222222222222222*/
}

h1,
h2,
h3 {
  font-family: Tahoma, Geneva, sans-serif;
}

h1 {
  font-size: 2.369em; /* 42.635 / 18 = 2.369 */
  line-height: 1.032em; /* 44 / 42.635 = 1.032*/
  padding-bottom: 1.032em; /* 44 / 42.635 = 1.032*/
  text-align: center;
}
h1 a {
  text-decoration: none;
  color: black;
  border-width: 0.164em; /* NOTE: 7 / 42.635 = 0.16418435557640436261287674445878*/
  border-style: dashed;
  border-color: black;
  padding: .0938em; /* NOTE: 4 / 42.635  = 0.09381963175794535006450099683359 */
  padding-left: .235em; /* NOTE: 10 / 42.635 = 0.23454907939486337516125249208397 */
  padding-right: .235em;
}
h2 {
  font-size: 1.777em; /* 31.984 / 18 = 1.777*/
  line-height: 1.032em; /* 33 / 31.984 = 1.032 */
  padding-bottom: 0.688em; /* 22 / 31.984 = 0.688*/
  color: #DB4E58;

}

h3 {
  font-weight: bold;
  color: #A5606D;
}

ol,ul {
padding-bottom: 0.6112em; /* NOTE: 11 / 18 =  0.61111111111111111111111111111111*/
}

li {
  padding-bottom:  0.6112em; /* NOTE: 11 / 18 =  0.61111111111111111111111111111111*/
}
ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

li ol,
li ul {
  padding-top: 0.6112em; /* NOTE: 11 / 18 =  0.61111111111111111111111111111111*/
  padding-left: 1.222em; /* 22 / 18 = 1.2222222222222222222222222222222*/
  padding-bottom: 0;
}
li ul {
  list-style-type: circle;
}
li  li:last-child{
  padding-bottom: 0;
}
img{
 display: block;
 max-width: 100%
}
footer {
  padding-top: 1.667em; /* NOTE: 30 / 18 = 1.6666666666666666666666666666667 */
  color: #DB4E58;
}

/*
  Setting type with a 4:3 modular scale
  http://www.modularscale.com/?18&px&1.333
*/

/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/
#navigation {
  position: absolute;
  width: 100%;
  background-color: green;
  top: 0;
  left:0;
}
#navigation li {;
  width: 33.333333333333333333333333333333%;
  background-color: blue;
  float: left;
}
#navigation a {
  display: block;
  width: 100%;
  padding-top: 22px; /* 11 / 18 = 0.611 */
  padding-bottom: 22px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #000000;
}


/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/
#navigation ul,
#navigation li {
  list-style-type: none;
  padding-bottom: 0;
}
.list-majoritem::first-line {
  font-weight: bold;
}

/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/

@media screen and (min-width: 375px) {
  body{
    padding-right: 11.733333333333333333333333333333%;  /* 44 / 375 = 11.733333333333333333333333333333%*/
    padding-left: 11.733333333333333333333333333333%;/* 44 / 375 = 11.733333333333333333333333333333%*/
  }
}

@media screen and (min-width: 640px) {
  html{
    font-size: 1.25em; /* 20 / 16 =  1.25*/
  }
}
@media screen and (min-width: 1000px) {
  /* NOTE: Grid
      7 column grid
      margin 200px
      grid 700 px
      gutters 150px px: 92.857px
      Education 4 section + 2 gutters
      Corses 3 sections + 2 gutters
   */
  #resume body {
  padding-left: 10%; /* NOTE: 100 / 1000 =  .10*/
  padding-right: 10%;
  }
  #education {
    width: 52.6785%; /* NOTE: 421.428 / 800 =  0.526785*/
    float: left;
  }
  #courses {
    width: 41.071375%; /* NOTE: 328.571 / 800 =  0.41071375*/
    margin-left: 6.25%; /* NOTE: 50 / 800 =  0.0625*/
    float: left;
  }
  /* NOTE:
      Projects 4 section + 2 gutters
      experience 3 sections + 2 gutters
   */

  #projects {
    clear: both;
    width: 52.6785%; /* NOTE: 421.428 / 800 =  0.526785*/
    float: left;
  }
  #experience {
    width: 41.071375%; /* NOTE: 328.571 / 800 =  0.41071375*/
    margin-left: 6.25%; /* NOTE: 50 / 800 =  0.0625*/
    float: left;
  }
  #leadership {
  clear: both;
  }

  /* NOTE: Grid
      5 column grid
      margin 200px
      grid 800 px
      gutters 100 px
      primary 445 px
      support 305 px
      actual gutter 50px
   */
  #about-me html{
    font-size: 1.5em; /* 24 / 16 =  1.5*/
  }
  #about-me body {
    padding-left: 10%; /* 100 / 1000 =  0.1 */
    padding-right: 10%; /* 100 / 1000 =  0.1 */
  }
  #about-primary {
    width: 55.625%; /* 445 / 800 =  0.55625*/
    float: left;
  }
  #about-supporting {
    width: 38.125%; /* 305 / 800 =  0.38125*/
    margin-left: 6.25%; /* 50 / 800 =  0.0625*/
    float: left;
  }
   #about-footer {
    clear: both;
  }
  .flexbox #content,
  .flexbox #res-primary {
    float: none;
    display: flex;
    flex-wrap: wrap;
  }
  .flexbox #res-primary h2 {
    width: 100%;
  }
}
